/* Fonts */
/* poppins-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}
/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}
/* poppins-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}
/* poppins-900 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

/* Variable */
:root {
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-brand-grey: #cfcfbc;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-secondary-dark: #a28268;
}

/* Base */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  display: inline-block;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Button */
.button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

/* Link */
.link {
  color: var(--color-primary-light);
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: var(--color-brand-light);
}

/* Header */
.header {
  position: absolute;
  padding-top: 32px;
  top: 0;
  left: 0;
  width: 100%;
}
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}
.menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}
/* Hero section */
.hero-section {
  padding: 272px 0;
  background-image: linear-gradient(
      102.76deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url('../images/couple-in-bakery.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.hero-title {
  margin-bottom: 0;
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}

.hero-title .accent {
  color: var(--color-brand-light);
}

/* Advantages */
.advantages-section {
  padding: 16px 0;
  background-color: var(--color-brand-light);
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.advantages-item {
  color: var(--color-primary-light);
  font-size: 20px;
  font-weight: 300;
}
.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

/* Traditions section */

.traditions-title {
  margin-bottom: 80px;
}

.traditions-section {
  padding-top: 96px;
}
.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.traditions-content {
  max-width: 710px;
}
.traditions-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

.traditions-text.limited {
  max-width: 330px;
}

/* Chefs section */
.chefs-title {
  position: relative;
  margin: 0 auto 80px;
}

.chefs-title::before,
.chefs-title::after {
  position: absolute;
  bottom: 24px;
  width: 352px;
  border: 2px solid var(--color-brand-grey);
  content: '';
}

.chefs-title::before {
  left: 0;
}
.chefs-title::after {
  right: 0;
}
.chef-list {
  display: flex;
  gap: 40px 30px;
  flex-wrap: wrap;
}

.chef-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
  display: flex;
  gap: 30px;
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-secondary-dark);
}

.chef-title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 40px;
}
.chef-text p {
  margin-bottom: 24px;
}

.chef-text p:last-child {
  margin-bottom: 0;
}

/* Formats section */
.formats-title {
  margin-bottom: 80px;
}
.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}
/* Carousel */
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  border: 1px solid var(--color-primary-dark);
  border-radius: 50%;
  fill: var(--color-primary-dark);
  background-color: transparent;
  cursor: pointer;
}

.carousel-button.next {
  transform: rotate(180deg);
}

.carousel-button:hover {
  fill: var(--color-primary-light);
  background-color: var(--color-primary-dark);
}

.formats-list {
  display: flex;
  color: var(--color-primary-light);
  gap: 20px;
  flex-wrap: wrap;
}
.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}
.format-card {
  max-width: 350px;
  height: 444px;
  padding: 24px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
  border-radius: 16px;
  transition: transform 0.3s;
}
.format-card:hover {
  transform: scale(1.05);
}
.format-title {
  font-weight: 600;
  font-size: 24px;
}

.format-text {
  font-weight: 300;
  font-size: 14px;
}

.format-text p {
  margin-bottom: 2px;
}

.format-text p:last-child {
  margin-bottom: 0;
}

/* Contact section */
.contact-section {
  padding-bottom: 96px;
}

.contact-title {
  margin-bottom: 16px;
}

.contact-container {
  display: flex;
  gap: 32px;
}

.contact-map {
  border: none;
  border-radius: 16px;
  flex-shrink: 0;
}

/* Footer */
.footer {
  position: relative;
  padding: 32px 0;
  background-image: url('../images/footer-background.png');
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.footer::before,
.footer::after {
  position: absolute;
  background-repeat: no-repeat;
  content: '';
}
.footer::before {
  width: 181px;
  height: 342px;
  background-image: url(../images/decor-bread-small.png);
  left: 0px;
  top: 110px;
}
.footer::after {
  width: 305px;
  height: 330px;
  background-image: url(../images/decor-bread-large.png);
  right: 0px;
  top: 0px;
}
.footer-container {
  display: flex;
  gap: 20px;
}
.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}
.footer-logo,
.footer-menu {
  flex-grow: 1;
}
.address-list,
.address-info {
  flex-grow: 1;
}
.address-link {
  font-weight: 300;
  font-size: 16px;
  color: var(--color-primary-light);
  text-decoration: none;
}
.address-link:hover {
  color: var(--color-brand-light);
}
.address-icon {
  fill: var(--color-primary-light);
}
.address-icon:hover {
  fill: var(--color-brand-light);
}

.address-copyright {
  font-size: 14px;
  color: var(--color-secondary-dark);
}
/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s, visibility 0.3s;
}
.modal {
  position: relative;
  padding: 128px;
  width: 100%;
  height: 100%;
  max-width: 880px;
  max-height: 880px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  overflow-y: auto;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Form */
.form-label {
  display: block;
}
.form-field {
  position: relative;
  margin-bottom: 32px;
}
.form-label {
  position: absolute;
  top: 16px;
  left: 42px;
  font-size: 16px;
  line-height: 1.17;
  color: var(--color-secondary-dark);
  transition: transform 0.3s;
}
.form-field:focus-within .form-label{
  transform: translate(-36px, -36px);
}
.form-input {
  width: 100%;
  padding: 16px 42px;
  background-color: transparent;
  border: 1px, solid, var(--color-secondary-dark);
  border-radius: 8px;
}
.form-input:focus {
  border-color: var(--color-brand-light);
  outline: none;
}
.form-button{
  display: block;
  margin: 0 auto 24px;
}

.form-terms{
  margin: 0 auto;
  max-width: 220px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}
.form-terms-link{
  color: var(--color-primary-dark);
  text-underline-offset: 2px;
}